/*czcionka*/

@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,600,700,800,900&subset=latin-ext');

/*ogólne*/

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: "Raleway", Arial, sans-serif;
}

.container{

  margin: 0 auto;
  width: 950px;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

a{
  text-decoration: none;
}

/*nagłówek*/

header{
  background-color: black;
  color: white;
}

.up_logo{
  float: left;
  color: white;
  padding-top: 10px;
  font-weight: 500;
  font-size: 13px;
}

.up_menu li{
  float: right;
  margin: 10px 10px 10px 10px;
  list-style: none;
  color: white;
  font-weight: 700;
  font-size: 12px;
}
 b{
   color: #27c7ab;
 }

 /*slider*/
 .slider_column4, .slider_column3{

   float: right;
 }
.slider_column1, .slider_column4{
  width: 5%;
  font-size: 75px;
  color: #27c7ab;
  text-decoration: none;
  font-weight: 300;
}
.slider_column3{
  width: 45%;
  margin-right: 10px;
}

.slider_column2{
  width: 35%;
}
.arrow_right, .arrow_left{
  margin-top: 155px;
  color: #27c7ab;
  font-weight: lighter;
}
.arrow_right{
  margin-left: 17px;
  margin-right: 5px;
}
.slider_column1, .slider_column2{
  float: left;
}
.slider_column2{
  padding-top: 55px;
}
.slider_column3{
  padding-right: 60px;
}

.title h1{
  margin: 105px 0 20px 0;
  font-weight: 400;
  font-size: 35px;
}

.title p{
  color: rgba(18, 23, 26, 0.77);
  line-height: 25px;
}

.title{
  text-align: center;
}

.slider_button {
  font-size: 20px;
  background-color: #27c7ab;
  width: 190px;
  height: 40px;
  border-radius: 4px;
  text-align: center;
  padding-top: 9px;
  margin: 0 auto;
  margin-top: 20px;
  color: white;
  margin-bottom: 20px;
}


.slider{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+73,e1e1e1+100,f6f6f6+100 */
background-color: background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 73%, rgba(225,225,225,1) 100%, rgba(246,246,246,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 73%,rgba(225,225,225,1) 100%,rgba(246,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 73%,rgba(225,225,225,1) 100%,rgba(246,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
background-size: cover;
background-position: center;
position: relative;
}

/*sekcja z trzema obrazkami*/

.tree_img_section{
  background-color: white;
  width: 100%;
}

.column3{
  width: 33.333%;
  float: left;
  padding: 10px;
}

.first_img, .second_img{
  height: 225px;
  border: 1px solid #C4C4C4;
  padding: 170px 20px 20px 25px;
}

.first_img{
  background-image: url(../images/box1_img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.second_img{
  background-image: url(../images/box2_img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.third_text p{

  line-height: 20px;
  padding: 5px;
  border: 1px solid #C4C4C4;
  font-size: 13px;
  color: #C4C4C4;
}



.stripe{
  height: 4px;
  background-color: #27c7ab;
  width: 140px;
  margin: 5px 0 5px 0;
  float: left;
}

.sign{
  font-size: 15px;
  margin-bottom: -4px;
}
/*section menu */
.menu{
  height: 600px;
}
.menu_column{
  width: 33.333%;
  float: left;
}

.menu_column:hover .tab {
  background-color: #27c7ab;
}

.menu_column:hover .small_frame {
  background-color: white;
  color: #27c7ab;
}

.menu_column:hover .frame .tab .circle_white{
  background-color: #27c7ab;
  border: 2px solid #27c7ab;
}

.frame{
  height: 311px;
  width: 252px;
}

.frame .tab{
  height: 455px;
  border: 2px solid #C4C4C4;
  position: relative;
  margin: 50px -55px 10px 10px;
}


.frame .tab a{
  font-size: 10px;
  text-align: center;
  color: white;
  margin-top: 10px;

}

.wrapper {
  position: relative;
}

.frame .tab .circle_white{
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid #C4C4C4;
  position: absolute;
  top: -35px;
  transform: translateX(50%);
  right: 50%;

}
.frame .tab .circle_black{
  width: 28px;
  height: 28px;
  background-color: #C4C4C4;
  border-radius: 50%;
  border: 1px solid #C4C4C4;
  position: absolute;
  z-index: 1;
  left: 9px;
  top: 9px;
}
.small_frame{
  height: 33px;
  width: 133px;
  background-color: #27c7ab;
  position: absolute;
  right: 78px;
  bottom: 20px;
  padding: 6px;
  font-size: 18px;
}
.tabel_title{
  color: #27c7ab;
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
}
.circle_price{
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: 1px solid #C4C4C4;
  position: absolute;
  right: 29%;
  top: 90px;
  font-size: 50px;
  text-align: center;
  padding-top: 19px;
  color: #C4C4C4;
  font-weight: 700;

  }

.pln_msc{
  font-size: 10px;
  position: absolute;
  top: 83px;
  right: 39px;
}

.sup{
  font-size: 10px;
}
.offer1, .offer2, .offer3{
  text-align: center;
  margin-top: 200px;
  font-size: 20px;
  color: #757272;
  line-height: 30px;
}

.offer1 p:first-of-type{
  background-color: #C4C4C4;
}
.offer1 p:last-of-type{
  background-color: #e2dbdb;
}

.offer2 p:nth-child(2n){
  background-color: #e2dbdb;
}

.offer3 p:nth-child(2n+1){
  background-color: #C4C4C4;
}
.sup{
  margin-top: 2px;
}
/*formularz*/
.contact_form_input {
  float: left;
  width: 60.666%;
  margin-left: 10px;
  padding-top: 10px;
}

input, textarea {
  font-family: inherit;
  font-size: 16px;
  width: 585px;
  display: inline-block;
  margin-bottom: 25px;
}

input, textarea, .checkbox {
  border: 1px solid #27c7ab;
  border-radius: 1px;
  font-size: 24px;
  padding: 10px;
}

textarea {
  height: 195px;
  resize: none;
}

input {
  height: 65px;
}

.checkbox {
  height: 48px;
  width: 48px;
  justify-content: center;
  vertical-align: middle;
  float: left;
  padding: 0;
  margin-right: 10px;
}

.submit_button {
  width: 340px;
  height: 70px;
  color: #fff;
  align-items: center;
  margin: 0 auto;
}

.checkbox img {
  width: 45px;
  height: auto;
  margin: 5px auto;
}

input[type=submit] {
  color: white;
  width: 345px;
  height: auto;
  background-color: #27c7ab;
  margin: auto;

}

.terms-acception {
  float: right;
  width: 33.333%;;
  position: relative;
}

.terms-acception p {
  margin: 0;
  font-size: 20px;
}

.contact-picture {
  position: relative;
  left: 45px;
  margin: 0 auto;
}

.terms-accept-form {
  margin: 20px auto;
  width: 340px;
}

.terms-accept-form::after {
  content: "";
  clear: both;
  display: block;
}

.contact_form .checkbox {
  float: left;
}

/*stopka*/

.terms-accept-form p, .footer_cp, .footer-logo {
  color: #888;
}

.footer_cp {
  float: left;
  font-size: 12px;
}

.footer_logo {
  float: right;
  font-size: 14px;
  text-transform: uppercase;
  margin-left: 65px;
}



.footer_socialmedia {
  float: right;
  padding-top: 5px;
}

.footer_socialmedia a {
  margin-left: 7px;
}
