/*slider*/

.slider_column4, .slider_column3 {
  float: right;
}

.slider_column1, .slider_column4 {
  width: 5%;
  font-size: 75px;
  color: #27c7ab;
  text-decoration: none;
  font-weight: 300;
}

.slider_column3 {
  width: 45%;
  margin-right: 10px;
}

.slider_column2 {
  width: 43%;
}

.arrow_right, .arrow_left {
  margin-top: 155px;
  color: #27c7ab;
  font-weight: lighter;

}

.slider_column1 a:active, .slider_column1 a:focus{
  outline: none;
}

.slider_column4 a:active, .slider_column4 a:focus{
  outline: none;
}

.arrow_right {
  margin-left: 17px;
  margin-right: 5px;
}


.slider_column1, .slider_column2 {
  float: left;
}

.slider_column2 {
  padding-top: 55px;
}

.slider_column3 {
  padding-right: 60px;
  z-index: 0;
}

.title h1 {
  margin: 105px 0 20px 0;
  font-weight: 400;
  font-size: 35px;
  z-index: 0;
}

.title p {
  color: rgba(18, 23, 26, 0.77);
  line-height: 18px;
  font-size: 14px;
  z-index: 0;
}

.title {
  text-align: center;
}

.slider_button {
  font-size: 20px;
  background-color: #27c7ab;
  width: 220px;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  padding-top: 11px;
  margin: 0 auto;
  margin-top: 30px;
  color: white;
  margin-bottom: 50px;
}

.slider {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+73,e1e1e1+100,f6f6f6+100 */
  background-color: background: rgb(255, 255, 255);
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 73%, rgba(225, 225, 225, 1) 100%, rgba(246, 246, 246, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 73%, rgba(225, 225, 225, 1) 100%, rgba(246, 246, 246, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 73%, rgba(225, 225, 225, 1) 100%, rgba(246, 246, 246, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
  /* IE6-9 */
  background-size: cover;
  background-position: center;
  position: relative;
}


.open {
  width: 120px;
  height: 130px;
  font-size: 12px;
  position:absolute;
  z-index: 1;
  left: 72%;
  top: 10px;
  transition: all 0.1s;
  visibility:hidden;
}


.open:before{
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom: 10px solid black;
  left: 40%;
  bottom: 130px;
}


.hiddenMenu {
  list-style: none;
  background: black;
  height: 100%;
  width: 100%;
  padding: 20px 0px 0px 15px;
}
.hiddenMenu a{
  text-decoration: none;
  color: white;
  line-height: 35px;
  font-size: 15px;
  font-weight: 600;
}

.hiddenMenu a:hover{
  color: #27c7ab;
}

.black_armchair ul{
    list-style: none;
}

.black_armchair li{
    display: none;
}
.black_armchair .visible{
    display: inline-block;
    justify-content: center;
    display: flex;
}
